mixin videoBlock(video = {})
    .videoBlock
        if(video.id)
            a(href=routes.videoDetail(video.id))
                video.videoBlock__thumbnail(src=`/${video.videoFile}`, controls=false)
                h4.videoBlock__title=video.title
                if video.views === 1
                    h6.videoBlcok__views 1 view
                else
                    h6.videoBlcok__views #{video.views} views
